<!DOCTYPE html>
<body>
    <center>
        <h1>DEPRESSION DETECTION</h1>
        <br><br>
        <h1>Please give your response a minimum of 10 words for each question.</h1>
        <br><br>
        <form method="POST", action="{{ url_for('home') }}">
            How do you feel today? <input type="text", name="text",placeholder = 'enter', size="50"><br>
            What makes you happy? <input type="text", name="text1",placeholder = 'enter', size="50"><br>
            What bothers you the most? <input type="text", name="text2",placeholder = 'enter', size="50"><br>
            <br>
            <input type="submit", value="Predict!">
        </form>
    </center>
</body>